.icon-feature {
  text-align: center;
}

.icon-feature .glyphicon {
  font-size: 60px;
}

section.features {
  padding: 40px 0;
  color: #fff;
  background: linear-gradient(120deg, #e1fffd, #9cf5fb);
}

.features h2 {
  color: #000000;
}

.features .icon-features {
  margin-top: 15px;
}

body {
}

.jumbotron.jumbotron-fluid.jumbotron-main {
  background-color: linear-gradient(120deg, #e1fffd, #9cf5fb);
}

.container {
  margin-top: 50px;
}

